﻿<%@ Page Title="" Language="C#" MasterPageFile="~/pages/examMaster.master" AutoEventWireup="true" CodeFile="Form_BulkInterviewReport.aspx.cs" Inherits="pages_Form_BulkInterviewReport" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <title>Bulk Interview Report</title>
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="BodyStart" runat="Server">
    <telerik:RadScriptManager ID="RadScriptManager1" runat="server">
        <Scripts>
            <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.Core.js" />
            <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.jQuery.js" />
            <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.jQueryInclude.js" />
        </Scripts>
    </telerik:RadScriptManager>
      <telerik:RadWindowManager ID="rmw1" runat="server">
    </telerik:RadWindowManager>








    <script type="text/javascript">
       
        function MyFunction()
        {
            $('#loading').show();
        }
        function MyFunctionHide() {
            $('#loading').Hide();
        }
    </script>
   








</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Body1" runat="Server">
   
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Body2" runat="Server">
    <div class="content">
                    <div class="container-fluid">
                        <div class="row" style="margin-top: 0px !important;">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Batch Interview Log Report</h4>
                                      
                                    </div>

                                 <div>


                                     


                                                  <div  style="margin: 10px 0px 0px 20px;" class="title">


                      
                                        <asp:Label  ID="Label1" runat="server" Text="From Date:"></asp:Label>&nbsp;<telerik:RadDateTimePicker  ID="dtpFromDate"  width="120px"  AutoPostBackControl="None" runat="server"  DateInput-DateFormat="dd/MMM/yyyy" Skin="Bootstrap">  <TimePopupButton Visible="false" /></telerik:RadDateTimePicker>
                                         <asp:Label  ID="Label2" runat="server" Text="To Date:"></asp:Label>&nbsp;<telerik:RadDateTimePicker ID="dtpToDate" Visible="True" width="122px" AutoPostBackControl="None"  runat="server" DateInput-DateFormat="dd/MMM/yyyy" Skin="Bootstrap">  <TimePopupButton Visible="false" /></telerik:RadDateTimePicker>
                                            <asp:Button ID="btnFilterApply" runat="server" OnClick="btnFilterApply_Click" CssClass="btn btn-fill"  Text="Apply"   />


                                        
                                    </div>
                                                <div class="content table-responsive table-full-width">
                                          <telerik:radgrid id="rgInterView" runat="server" allowfilteringbycolumn="true" AutoGenerateColumns="false"  OnNeedDataSource="rgInterView_NeedDataSource" Skin="Bootstrap"  ActiveItemStyle-Wrap="true"  cellspacing="-1" gridlines="Both" ItemStyle-BackColor="LightGray" AlternatingItemStyle-BackColor="LightGray" FilterItemStyle-CssClass="text-center"  HeaderStyle-Font-Size="Medium"  HeaderStyle-CssClass="text-center"  ShowGroupPanel="false"  GroupingSettings-CaseSensitive="false"   HeaderStyle-Font-Bold="true" >
                                            <GroupingSettings CollapseAllTooltip="Collapse all groups" CaseSensitive="false"></GroupingSettings>
                                                 <ExportSettings Excel-Format="ExcelML" ExportOnlyData="true" IgnorePaging="true" FileName="Scheduled interview Details"> </ExportSettings>
                                            <MasterTableView CommandItemDisplay="Top">
                                                <CommandItemSettings ShowExportToExcelButton="true" ShowAddNewRecordButton="false" ShowRefreshButton="false" />
                                                <Columns>


                                                  

                                                    
                                                    <telerik:GridHyperLinkColumn  DataNavigateUrlFields="User_Email" UniqueName="viewDetails" DataNavigateUrlFormatString="viewExamConductedDetails.aspx?email={0}" HeaderText="Details" DataTextField="View" Text="view" HeaderStyle-Width="100px" HeaderStyle-HorizontalAlign="Center" HeaderStyle-VerticalAlign="Middle"  ItemStyle-ForeColor="green" ItemStyle-Font-Size="Larger" ItemStyle-Font-Underline="true" ItemStyle-HorizontalAlign="Center" Visible="true"  ItemStyle-Font-Bold="true"  Target="_Blank"></telerik:GridHyperLinkColumn>
                                                  

                                                   

                                                   

                                                     <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="isAccepted" HeaderText="Result?" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>




                                                       <telerik:GridHyperLinkColumn  HeaderStyle-Font-Bold="true" DataNavigateUrlFields="BatchNo" DataType="System.String" 
                                   DataNavigateUrlFormatString="Form_ViewBatch.aspx?BatchNo={0}" HeaderText="Batch No" AutoPostBackOnFilter="false"  ItemStyle-Font-Bold="true" ItemStyle-HorizontalAlign="Center"   HeaderStyle-HorizontalAlign="Center" HeaderStyle-VerticalAlign="Middle"  ItemStyle-ForeColor="CadetBlue" ItemStyle-Font-Size="Large" FilterCheckListEnableLoadOnDemand="true" DataTextField="BatchNo" ItemStyle-Font-Underline="true" UniqueName="view"  HeaderStyle-Width="150px" ></telerik:GridHyperLinkColumn> 


                                                   <%-- <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="BatchNo" HeaderText="Batch No" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>--%>


                                                     <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="Experience" HeaderText="Experience" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>

                                                       <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="created_At" HeaderText="Record" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>
                                          
                                                      <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="User_Name" HeaderText="Name" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>
                                                     <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="User_Email" HeaderText="Email" ItemStyle-HorizontalAlign="Center" DataType="System.String" ItemStyle-Wrap="true"    HeaderStyle-Width="230px"  ></telerik:GridBoundColumn>
                                          
                                                      <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="Birthdate" HeaderText="Birth date" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>
                                                       <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="age" HeaderText="Age" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>
                                                       <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="remark" HeaderText="Remark" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>
                                                  

                                                      <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="contact" HeaderText="Contact" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>

                                                      <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="Department_Name" HeaderText="Department" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>

                                                      <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="location_Name" HeaderText="Location" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>
                                                      <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="position_type" HeaderText="Position" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>

                                                    <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="jombayLink" HeaderText="URL" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px" Display="false"  ></telerik:GridBoundColumn>

                                                      <telerik:GridBoundColumn Visible="false" HeaderStyle-HorizontalAlign="Center"  DataField="type" HeaderText="Type" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>
                                                         <telerik:GridBoundColumn Visible="true" HeaderStyle-HorizontalAlign="Center"  DataField="arranged_By" HeaderText="Arranged By" ItemStyle-HorizontalAlign="Center" DataType="System.String"   HeaderStyle-Width="150px"  ></telerik:GridBoundColumn>
                                         
                                                    
                                                </Columns>
                                            </MasterTableView>
                                            <ClientSettings>
                                               
                                                  <Scrolling AllowScroll="True" UseStaticHeaders="True" SaveScrollPosition="true"></Scrolling>
                                            </ClientSettings>
                                        </telerik:radgrid>
                                    </div>


                                              




                                         


                                        


                                         
                                    















                                          
                                    

                                 </div>

                                    
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
    

              
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="Footer" runat="Server">

     <style type="text/css">
        #page
        {
            display: block;
        }

        #loading
        {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            height: 200%;
            background-color: rgba(255, 255, 255, 0.5);
            background-image: url('../pages/images/ajax-loader.gif');
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
    <div id="loading"></div>
    

    <script type="text/javascript">
        $(document).ready(function () {

            demo.initChartist();
        });



	</script>

    
</asp:Content>


